@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto&display=swap');

$color-highlight: #26a69a;
$color-highlight-light: #64d8cb;
$color-text: #eff0fa;

body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  transition: all 0.25s linear;
}

nav {
  @extend .gradient-animation;
}

@media only screen and (max-width: 576px) {
  label {
    margin: unset!important;
  }
}

a:not(.nav-link):not(.btn):not(.icon-link) {
  color: var(--color-highlight);
}

a:hover:not(.nav-link):not(.btn) {
  color: var(--color-highlight-light);
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  position: relative;
}

.profile-icon-rows{
  padding-top: 20px;
  .profile-icon-row {
    height: 35px;
    margin: auto;
    width: 175px;
    max-height: 300px;
    max-width: 300px;
    .material-icons {
      color: var(--color-text);
      margin-right: 5px;
    }
  }
}

.about-number-row {
  h3 {
    color: var(--color-highlight);
    font-size: 3rem;
    margin-bottom: 0px;
    padding-right: 5px;
  }
  p {
    line-height: normal;
    margin: auto;
    margin-left: 0px;
  }
}

#about-content {
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  h4 {
    height: min-content;
    width: fit-content;
  }
}

.subsection{
  display: flex;
  flex-direction: column;
  padding: 30px 30px 5px 30px;
  p {
    text-align: left;
  }
}

.subsection, .portfolio-card {
  span {
    font-weight: 700;
    background-color: var(--color-medium);
    border-radius: 5px;
    padding: 0px 3px;
  }
}

#profile {
  padding-top: 20px;
  height: fit-content;
}

#profile-pic {
  border-radius: 300px;
  height: 25vw;
  width: 25vw;
  mix-blend-mode: luminosity;
  margin: auto;
  max-height: 300px;
  max-width: 300px;
}

.portfolio-card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.portfolio-card {
  width: 400px;
  background-color: var(--color-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
  position: relative;
}

.portfolio-card-image {
  height: 20rem;
  max-height: 200px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio-card-body {
  height: 300px;
  margin: 20px 30px;
  max-width: 660px;
  text-align: left;
  display: grid;
  grid-template-rows: auto 40px 20px 1fr auto;
  h4 {
    max-width: 78%;
  }
}

span.portfolio-card-divider {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: var(--color-highlight);
  margin-bottom: 30px;
}

.portfolio-card-tags {
  padding-top: 20px;
  position: absolute;
  bottom: 5px;
  text-align: left;
}

span.portfolio-card-tag {
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-block;
  width: max-content;
}

.portfolio-card-buttons {
  position: absolute;
  right: 0px;
}

.icon-link {
  color: var(--color-text);
  padding-left: 8px;
}

.git-link {
  margin-bottom: 0.5rem;
  margin-top: -2px;
}

.external-link {
  i {
    font-size: 26px;
  }
}

#archive {
  padding-left: 30px;
  padding-right: 30px;
}

#archiveBtn {
  margin: auto;
  margin-top: 20px;
}

.btn-primary {
  background-color: var(--color-highlight);
  border: none;
  color: var(--color-text-inv);
  margin-right: 5px;
  width: fit-content;
}

.btn-primary:hover, .btn-primary:focus, 
.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active
{
  background-color: var(--color-highlight-light);
  border: none;
  box-shadow: none;
  color: var(--color-text-inv);
}

@media only screen and (max-width: 600px) {
  #about-content {
    display: flex;
    flex-direction: column;
  }

  .about-number-row {
    padding-bottom: 10px;
  }

  #profile-pic {
    height: 30vh;
    width: 30vh;
  }
}

@media screen and (max-width: 850px) {
  .portfolio-card-deck {
    padding: 20px 5px;
  }
  .portfolio-card {
    margin: 0px;
    margin-bottom: 30px;
  }
  .portfolio-card-image {
    max-height: 200px;
  }
}

#error-404 {
  position: relative;
  top: 20vh;
  img {
    border-radius: 50px;
  }
}

.react-switch-bg {
  background: var(--color-bg) !important;
}

.gradient-animation {
  background: linear-gradient(139deg, #22b390, #b463cc, #2da3e6);
  background-size: 300% 300%;

  -webkit-animation: GradientAnimation 9s ease infinite;
  -moz-animation: GradientAnimation 9s ease infinite;
  animation: GradientAnimation 9s ease infinite;
}

@-webkit-keyframes GradientAnimation {
  0%{background-position:0% 2%}
  50%{background-position:100% 99%}
  100%{background-position:0% 2%}
}
@-moz-keyframes GradientAnimation {
  0%{background-position:0% 2%}
  50%{background-position:100% 99%}
  100%{background-position:0% 2%}
}
@keyframes GradientAnimation {
  0%{background-position:0% 2%}
  50%{background-position:100% 99%}
  100%{background-position:0% 2%}
}

/*******************
  PROGRESS BARS
********************/

#lang-bars-placeholder {
  padding-bottom: 10px;
  padding-right: 10px;
}

@media (max-width: 600px) {
  #lang-bars-placeholder {
    width: 100%;
  }
}

.progress {
  background-color: var(--color-medium);
  margin-top: 1rem;
}

.progress-bar {
  background-color: var(--color-highlight);
  color: var(--color-text-inv);
  text-align: left;
  padding-left: 5px;
  box-shadow: 0 3px 10px 0px rgba(0,0,0,0.5);
}

.progress-label {
  float: left;
  line-height: 15px;
  margin-right: 1em;
  text-align: right;
  width: 70px;
}

#scratch-note {
  font-size: 12px;
}

.tab-content {
  text-align: left;
}

.tool-item {
  display: inline-block;
  margin: 0px 10px;
  text-align: center;

  p {
    margin: auto;
    width: fit-content;
  }
}

.tool-icon {
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
  position: relative;

  path, polygon {
    fill: var(--color-text);
    stroke: var(--color-text-inv);
  }
}

.tool-icon-invert {
  path, polygon {
    fill: var(--color-bg);
    stroke: var(--color-text);
  }
}

/*******************
  EXPERIENCE TIMELINE
********************/

$gutter: 30px;
$border-width: 4px;
$dot-diameter: 8px;

.timeline {
  width: fit-content;
  min-width: 350px;
  padding: 100px 0px;
  position: relative;
  margin: auto;
  &:before {
    box-sizing: unset;
    content: '';
    position: absolute;
    top: 0px;
    left:calc(33% + 15px);
    bottom: 0px;
    width: $border-width;
    background: var(--color-medium);
  }
  &:after {
    box-sizing: unset;
    content: "";
    display: table;
    clear: both;
  } 
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
  .title {
    margin-bottom: .5em;
    float: left;
    width: 33%;
    padding-right: $gutter;
    text-align: right;
    position: relative;
    &:before {
      box-sizing: unset;
      content: '';
      position: absolute;
      width: $dot-diameter;
      height: $dot-diameter;
      border: $border-width solid var(--color-highlight);
      background-color: var(--color-bg);
      border-radius:100%;
      top: 5%;
      right: -25px;
      z-index: 99;
    }
    h3 {
      margin: 0;
      font-size: 120%;
    }
    p {
      margin: 0;
      font-size: 100%;
    }
  }
  .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: $gutter;
    p {
      line-height: 1.4em;
      &:first-child {
        margin-top: 0;
        font-weight: 400;
      }
    }
    ul {
      color:#aaa;
      padding-left: 0;
      list-style-type: none;
      li:before {
        content: "–";
        margin-right: .5em;
      }
    }
  }
}