@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto&display=swap');

body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  transition: all 0.25s linear;
}

.tab-content {
  text-align: left;
}

.tool-item {
  display: inline-block;
  margin: 0px 10px;
  text-align: center;

  p {
    margin: auto;
    width: fit-content;
  }
}

.tool-icon {
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
  position: relative;

  path, polygon {
    fill: var(--color-text);
    stroke: var(--color-text-inv);
  }
}

.tool-icon-invert {
  path, polygon {
    fill: var(--color-bg);
    stroke: var(--color-text);
  }
}

/*******************
  EXPERIENCE TIMELINE
********************/

$gutter: 30px;
$border-width: 4px;
$dot-diameter: 8px;

.timeline {
  width: fit-content;
  min-width: 350px;
  padding: 100px 0px;
  position: relative;
  margin: auto;
  &:before {
    box-sizing: unset;
    content: '';
    position: absolute;
    top: 0px;
    left:calc(33% + 15px);
    bottom: 0px;
    width: $border-width;
    background: var(--color-medium);
  }
  &:after {
    box-sizing: unset;
    content: "";
    display: table;
    clear: both;
  } 
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
  .title {
    margin-bottom: .5em;
    float: left;
    width: 33%;
    padding-right: $gutter;
    text-align: right;
    position: relative;
    &:before {
      box-sizing: unset;
      content: '';
      position: absolute;
      width: $dot-diameter;
      height: $dot-diameter;
      border: $border-width solid var(--color-highlight);
      background-color: var(--color-bg);
      border-radius:100%;
      top: 5%;
      right: -25px;
      z-index: 99;
    }
    h3 {
      margin: 0;
      font-size: 120%;
    }
    p {
      margin: 0;
      font-size: 100%;
    }
  }
  .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: $gutter;
    p {
      line-height: 1.4em;
      &:first-child {
        margin-top: 0;
        font-weight: 400;
      }
    }
    ul {
      color:#aaa;
      padding-left: 0;
      list-style-type: none;
      li:before {
        content: "–";
        margin-right: .5em;
      }
    }
  }
}