html {
  scrollbar-gutter: stable;
  overflow-y: overlay;
}

body {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: var(--doc-height);
  margin: 0;
  padding: 0;
  transition: all 0.25s linear;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  word-spacing: 1px;
  position: relative;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

h1,
h2,
h3 {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.animate__fadeIn {
  animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
}

.animate__zoomIn {
  animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
}

/* ReactBootstrap modal animation override */
@media screen and (max-width: 576px) {
  .modal.show .modal-dialog {
    transform: translateY(-50%) !important;
  }
}

@media screen and (max-width: 576px) {
  .modal.fade .modal-dialog {
    transform: translateY(-50%) !important;
  }
}
